<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Valle Grande</title>
    <link rel="icon" type="image/png" href="/img/escudoV.G.png">
    <!--Aplicación de Css -->
    <link rel="stylesheet" href="/static/estilo.css"/>
</head>
<body>
    <div class="contenido">
        <img src="/img/insignia.png" width="180">
        <div class="grupo-botones">
            <button class="boton" type="button"> Nosotros </button>
            <button class="boton" type="button"> Historia </button>
            <button class="boton" type="button"> Videos </button>
        </div>
        <h1>Bienvenidos a Valle Grande</h1>
        <img class="paisaje" src="/img/paisaje.png" width="700"> <br><br>
        <h2 class="rojo"> Quiénes somos </h2><br>
        <p>Valle Grande es actualmente un Centro de Educación Superior constituido por la <br>
            Promotora de Obras Sociales y de Instrucción Popular (PROSIP) el 25 de febrero de <br>
            1965, reconocido por el Ministerio de Agricultura mediante Resolución Directoral N° <br>
            04383-AG-DGAG del 2 de junio de 1983 y por el Ministerio de Educación mediante <br>
            Resolución Ministerial N°0751-92-ED.</p><br>
        <h2 class="azul">Desarrollo histórico</h2><br>
        <div class="alinear">
                <p>Han transcurrido casi 50 años de trabajo y continuamos con el <br>
                    mismo deseo, seguir contribuyendo con el bienestar de las <br>
                    familias de Cañete y Yauyos.
                </p><br>
                 <a href="https://vallegrande.edu.pe/nosotros/" target="_blank">
                     <button class="boton4" type="button"> LEER MÁS</button>
                 </a>
                <img class="persona" src="/img/persona.png" width="140">
        </div>
        <div class="clearfix"></div>
        <br>
        <br>

        <h2 class="rojo"> Misión y Visión</h2><br>
        <h3 class="marron">Misión</h3>
        <p>Formar personas en el ámbito técnico profesional, considerando el sentido <br>
            trascendente del hombre, desarrollando en ellos competencias, que faciliten su <br>
            inserción laboral, contribuyendo de esta manera al desarrollo del país.</p><br>
        <h3 class="marron">Visión</h3>
        <p>Ser una institución referente de excelencia de la educación técnico profesional del <br>
            Perú, asociada al sector productivo.
        </p><br>
        <h2>Organigrama</h2><br>
        <h3 class="azulCentrado">Visita nuestro canal de Youtube</h3>
        <a href="https://www.youtube.com/@ValleGrandeEdu" target="_blank">
            <img class="yutu" src="/img/youtube.png" width="700" alt="YouTube Valle Grande">
        </a><br><br>


        <div class="contacto">
            <p>
                <b>Contacto</b> <br>
                RUC: 20120099095 <br>
                Razón Social: I.E.S.T.P. Valle Grande <br>
                Ant. Panamericana Sur: Km. 144, <br>
                San Vicente de Cañete, Lima, Perú. Apartado Postal 70.<br>
                (01) 581-2261 <br>
                <br>
                <a class="links" href="mailto:informes@vallegrande.edu.pe"> informes@vallegrande.edu.pe </a> <br>
                <a class="links" href="http://www.vallegrande.edu.pe" target="_blank">www.vallegrande.edu.pe </a>
            </p>
        </div>
    </div>
</body>
</html>