.contenido{
    width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    display: block;
    width: 700px;
    font-size: 22px;
    font-family: Arial;
    text-align: justify;
    width: 700px;
    margin: 0 auto;
}

.paisaje{
    display: block;
    margin: 0 auto;
}

.yutu{
    display: block;
    margin: 0 auto;
}

h3{
    font-size: 21px;
    font-family: Arial;
    text-align: justify;
    width: 700px;
    margin: 0 auto;
}

p{
    font-size: 16px;
    font-family: Arial;
    line-height: 20px;
    text-align: justify;
    width: 700px;
    margin: 0 auto;
    line-height: 20px;

}

.grupo-botones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    float: right;
}
.boton {
    background-color: #fe9900;
    font-size: 15px;
    font-family: Arial;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;

}

.boton4{
    background-color: #fe9900;
    float: left;
    margin-left: 47px;
    font-size: 15px;
    font-family: Arial;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
}

.rojo{
    color: red;
}

.azul{
    color: blue;
}

.azulCentrado{
    color: blue;
    text-align: center;
}

.marron{
    color: chocolate;
}

.clearfix{
    clear: both;
}

.persona{
    float: left;
    margin-left: 360px;
    margin-top: -90px;
}

.contacto{
    color: #ffffff;
    background-color: #005186;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0px;

}

.links{
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
}